

.auth-container {
    
    width: 100%;
    max-width: 400px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
  
    padding: 2rem;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(7px);
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

  }
 
  .auth-form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-form input {
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f8f9fa;
    color: black;
  }
  
  .auth-form button {
    padding: 0.75rem;
    background-color: #671cf1;
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .auth-form button:hover {
    background-color: #320e74
  }
  
  .auth-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
  }

  .auth-form select {
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f8f9fa;
    color: black;
  }
  input[type="password"]::-webkit-credentials-button {
  filter: invert(1);
}